*{
	padding:0;
	margin:0;
}

body{font-family:Arial,Helvetica,sans-serif;
background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI4IiBoZWlnaHQ9IjgiPgo8cmVjdCB3aWR0aD0iOCIgaGVpZ2h0PSI4IiBmaWxsPSIjNDAzYzNmIj48L3JlY3Q+CjxwYXRoIGQ9Ik0wIDBMOCA4Wk04IDBMMCA4WiIgc3Ryb2tlLXdpZHRoPSIxIiBzdHJva2U9IiMxZTI5MmQiPjwvcGF0aD4KPC9zdmc+");}
input{outline:none !important}

#horizontal-multilevel-menu, #horizontal-multilevel-menu ul {
    font-size: 15px;
}

.hd_sing{position:relative}
.hd_sing{
	font-size:13px;
	font-weight:bold;
	color:#000;
	margin-top: 20px;
}
.hd_sing>a{
	font-size:13px;
	font-weight:bold;
	color:#000;
}
.hd_title_loginform{
	font-size:13px;
	font-weight:bold;
	color:#000;
}
.hd_signup{
	font-size:13px;
	color:#000;
}
.hd_signup:hover,
.hd_singin>a:hover{text-decoration:none}
.hd_loginform{
	position:absolute;
	display:none;
	/* opacity:0.4; */
	padding:5px 10px 10px;
	top:-5px;
	left:-10px;
	background:#fff;
	z-index:990;
	width:230px;
	border-radius:5px;
	box-shadow: 0 4px 19px rgba(0,0,0,.25);
}
.hd_loginform form{
	display:block;
	padding:10px;
}
.hd_close_loginform{
	position:absolute;
	bottom:10px;
	right:10px;
	cursor:pointer;
}
.hd_loginform form input[type="text"],
.hd_loginform form input[type="password"]{
	border-top: 1px solid #aaacb1;
	border-right: 1px solid #b3b5b9;
	border-left: 1px solid #b3b5b9;
	border-bottom: 1px solid #c9cbcf;
	margin:5px 0;
	padding:5px;
	width:200px;
	box-shadow: inset 0 1px 3px 1px rgba(0,0,0,.16);
	background:#fff;
	border-radius:3px;
}
.hd_loginform form input[type="submit"]{
	border-radius:4px;
	background: #308ec4; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzMwOGVjNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyMjZkYWYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #308ec4 0%, #226daf 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#308ec4), color-stop(100%,#226daf)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #308ec4 0%,#226daf 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #308ec4 0%,#226daf 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #308ec4 0%,#226daf 100%); /* IE10+ */
	background: linear-gradient(to bottom, #308ec4 0%,#226daf 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#308ec4', endColorstr='#226daf',GradientType=0 ); /* IE6-8 */
	border:none;
	color:#fff;
	padding:5px 10px;
	cursor:pointer;
}
.hd_loginform form input[type="submit"]:hover{
		background: #459aca;
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQ1OWFjYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzOTdjYjciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		background: -moz-linear-gradient(top, #459aca 0%, #397cb7 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#459aca), color-stop(100%,#397cb7));
		background: -webkit-linear-gradient(top, #459aca 0%,#397cb7 100%);
		background: -o-linear-gradient(top, #459aca 0%,#397cb7 100%);
		background: -ms-linear-gradient(top, #459aca 0%,#397cb7 100%);
		background: linear-gradient(to bottom, #459aca 0%,#397cb7 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#459aca', endColorstr='#397cb7',GradientType=0 );
}
.hd_close_loginform,
.hd_forgotpassword{
	font-size: 12px;
	text-decoration: none;
	color: #0073a3;
	font-weight:normal !important;
}
.hd_close_loginform:hover,
.hd_forgotpassword:hover{color: #003ea3;}


.menu{
width: 90%;
margin: 50px auto;
}

#horizontal-multilevel-menu{
	display: flex;
justify-content: space-around;
}

.bx-auth{
	margin-left: auto;
	margin-right: auto;
	background-color: #e3e3e3;
	padding: 20px;
}

.bx-auth-serv-icons{
	margin: 0 auto;
	max-width: 600px;
}

.auth-form{
	width: 240px;
float: right;
margin-top: 20px;
}

.navigation{
	padding: 30px;
}

.wrap-news-list,
.news-list,
.wrap-form {
	margin: 0 auto;
	width: 80%;
	background-color: white;
	min-height: 100px;
}

.news-item{
	margin: 20px 0;
}

.bx-newsdetail{
	width: 80%;
	margin: 0 auto;
	background-color: white;
	padding-top: 20px;
}

#users input, 
#users button,
{
	border: solid 1px #ccc;
	border-radius: 5px;
	padding: 7px 14px;
	margin-bottom: 10px;
}

#users input.search{
	float: left;
	margin-top: 58px;
}

#users button:hover{
	background-color: gainsboro;
}

#users button:hover{
	background-color: white;
}

.filter-wrap{
	float: right;
	background-color: gainsboro;
	border: solid 1px #ccc;
	border-radius: 5px;
	padding: 7px 14px;
	font-size: 14px;
	margin-bottom: 10px;
}
.filter-wrap p{
	font-size: 14px;
	margin-bottom: 10px;
}

.filter-wrap label{
	background-color: gainsboro;
}

#from-date{
	margin-right: 15px;
}

#users{
	width: 80%;
	margin: 0 auto 50px;
}

table.allusers{
	background-color: #e3e3e3;
}

#users table{text-decoration: none;border-collapse:collapse;width:100%;text-align:center;}
#users table th{font-weight:normal;font-size:14px; color:#ffffff;background-color:#354251;}
#users table td{font-size:13px;color:#354251;}
#users table td, #users table th{white-space:pre-wrap;padding:10px 5px;line-height:13px;vertical-align: middle;border: 1px solid #354251;}	
#users table tr:hover{background-color:#f9fafb}
users table tr:hover td{color:#354251;cursor:default;}


.profile{
	background-color: gainsboro;
	max-width: 600px;
	margin: 0 auto 50px;
	padding: 20px;
}
.profile ul li{
	list-style: none;
	font-size: 20px;
	padding: 10px;
}

.form-results-header-inline {
	position: relative;
	left: 42px;
}

.form-table tr th,
.form-table tr td {
	text-align: center;
	vertical-align: middle;
}

body{
	background-color:white;
	background-image: none;
}